@import url(keyframes.css);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.932);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
  animation: fadeIn 1.0s ease;
}

.header-container{
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 30px;
  padding-top: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.footer-container{
  background-color: rgba(255, 255, 255, 0.096);
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.096);
  font-size: small;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-head-1{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: italic;
}

.footer-head-1 a{
  font-family: 'Arial Narrow Bold';
  color: #ffffff;
}

.infoCard-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  animation: slideInRight 2.8s ease forwards;
}

.infoCard-content{
  padding: 16px;
}

.infoCard-content h3{
  font-size: 28px;
  margin-bottom: 8px;
}

.infoCard-content p{
  color: #ffffff;
  font-size: 15px;
  line-height: 1.3;
}

.officer-card {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(172, 171, 171, 0.911);
  padding: 32px;
  width: 100%;
  max-width: 480px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  animation: slideInDown 1.8s ease forwards;
}

.officerList-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 20px;
  color: rgb(0, 0, 0);
}


.cards{
  width: 350px;
  background-color: rgb(39, 37, 37);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(172, 171, 171, 0.911);
  margin: 20px;
  margin-bottom: 50px;
  color: #ffffff;
  font-style: italic;
}

.cards img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#aws {
  font-family: 'Arial Narrow Bold';
  font-weight: bold;
  font-size: 45px;
  font-style: italic;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  animation: slideInLeft 1.8s ease forwards;
  text-shadow: 0 4px 15px rgba(172, 171, 171, 0.911);
}

#club-Achieve{
  font-family: "Roboto", Arial;
  font-weight: bold;
  font-size: 45px;
  font-style: italic;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.904);
  animation: slideInLeft 1.8s ease forwards;
}

#step {
  font-family: 'Arial Narrow Bold';
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
  color: rgba(222, 226, 10, 0.979);
  animation: slideInLeft 0.8s ease forwards;
}

.join-result-container{
  background-color: rgba(255, 255, 255, 0.144);
  border-style: groove;
  border-radius: 25px;
  margin: 25px 25px 25px 25px;
  padding: 25px 25px 25px 25px; 
}

.joinResult{
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  animation: fadeIn 3s ease forwards;
}

#join {
  background-color: rgba(63, 65, 68, 0.13);
  border: 2px solid;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  border-color: rgb(5, 47, 139, 0.432);
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

#join:hover {
  opacity: 0.8;
  cursor: pointer;
}

#join:active {
  background-color: white;
  opacity: 0.8;
}

#Information {
  background-color: rgba(5, 47, 139, 0.432);
  color: white;
  border: 2px solid;
  border-color: rgba(5, 47, 139, 0.432);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

#Information:hover {
  opacity: 0.8;
  cursor: pointer;
}

#Information:active {
  background-color: white;
  opacity: 0.8;
}

#officers {
  background-color: rgba(3, 34, 102, 0.548);
  border: 2px solid;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  border-color: rgba(5, 47, 139, 0.432);
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

#officers:hover {
  opacity: 0.8;
  cursor: pointer;
}

#officers:active {
  background-color: white;
  opacity: 0.8;
}

#club-Achieve{
  animation: slideInDown 0.8s ease forwards;
}

#achievements {
  background-color: rgba(3, 34, 102, 0.548);
  border: 2px solid;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-radius: 20px;
  border-color: rgba(5, 47, 139, 0.432);
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

#achievements:hover{
  opacity: 0.8;
  cursor: pointer;
}

#achievements:active{
  background-color: white;
  opacity: 0.8;
}

.navBar {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 50px;
  box-shadow: 0px 10px 4px rgba(255, 255, 255, 0.13);
  border-style: groove;
  letter-spacing: 2px;
  animation: fadeIn 1.8s ease forwards;
}

.Back-button a{
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;   
  border-radius: 200px;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.Back-button{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.Back-button a:hover{
  opacity: 0.8;
  background-color: #d62976;
  transition-duration: .3s;
  cursor: pointer;
  animation: growUp 0.8 ease forwards;
}

.Back-button a:active{
  opacity: 0.8;
  transition-duration: .3s;
}

.buttons{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: bold;
}

.buttons a {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  text-decoration: none;   
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Arial Narrow Bold';
  box-shadow: 0px 5px 1px rgba(0,0,0,0.2);
}

.buttons a:hover {
  opacity: 0.8;
  animation: growUp 0.8 ease forwards;
  cursor: pointer;
}

.buttons a:active{
  background-color: white;
  opacity: 0.8;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 40px;
}

.about-us-container{
  background-color: rgba(255, 255, 255, 0.253);
  margin: 30px 30px 30px 30px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  animation: slideInDown 1.8s ease forwards;
}

.about-us-container p{
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 30px 30px 30px 30px;
  font-size: large;
  font-family: 'Roboto', Arial;
}

.slide-left {
  animation: slideInLeft 0.8s ease forwards;
}

.slide-right {
  animation: slideInRight 0.8s ease forwards;
}

.slide-down {
  animation: slideInDown 0.8s ease forwards;
}

.slide-down {
  animation: slideInUp 0.8s ease forwards;
}

.grow-up{
  animation: growUp 0.8 ease forwards;
}

.club-departments {
  color: #000000;
  font-style: italic;
  text-align: center;
  font-family: 'Arial Narrow Bold';
  margin-bottom: 5px;
}

.club-departments-container {
  background-color: #ffffff83;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.637);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  animation: slideInUp 2s ease forwards;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;

}

.club-departments-container h2{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Arial Narrow Bold';
  color: #000000;
  animation: slideInUp 2s ease forwards;
}

.club-departments-container p{
  text-align: center;
  font-family: 'Arial Narrow Bold';
  font-weight: bold;
  color: #000000;
}

.club-card-container{
  background-color: rgba(255, 255, 255, 0.404);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.774);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

#skills-head{
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  font-style: italic;
  font-family: 'Arial Narrow Bold';
  animation: slideInDown 1.8s ease forwards;
}

.skills-card {
  width: 190px;
  height: 254px;
  background: rgba(103, 225, 255, 0.705);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.596);
  font-size: 30px;
  font-weight: 900;
  
}

.skill-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #204753a9;
  box-shadow: 0px 0px 10px 5px  rgba(0, 183, 255, 0.596);
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
  animation: slideInUp 1.8s ease forwards;
}

.skills-card span{
  color: #ffffff;
}

.skills-card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(255, 255, 255, 0.705);
  background: rgb(103, 151, 255);
}

.skill-num {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;  
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.skills-card:hover .skill-num {
  height: 0px;
  opacity: 0;
}

.skill-name {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.skills-card:hover .skill-name {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.form-container{
  background-color: #ffffff;
  box-shadow: 0px 6px 5px 2px  rgba(255, 255, 255, 0.5);
  max-width: 480px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  animation: fadeIn 1.8s ease forwards;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
